@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto&display=swap');
  
:root{
    --black: #000;
    --grey: #121212;
    --light-grey: #232323;
    --white: #fff;
}
body,html{
    height: 100%;
    margin: 0rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-color: var(--black);
    color: var(--white);
} 
a{
    color: var(--white);
    text-decoration: none;
}
.container{
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: var(--black);
    padding: 0.5rem;
}
.sidebar{
    flex: 0.25;
    background-color:var(--black);
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}
.main-content{
    flex: 0.8;
    background-color: var(--grey);
    overflow-y: auto;
    border-radius: 0.5rem;
}
.player{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: var(--black);
    left: 0;
}
.top-icon{
    background-color: var(--grey);
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.link-flex{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    opacity: 0.7;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
}
.link-flex img{
    height: 1.2rem;
    width: 1.2rem;
}
.link-flex:hover{
    opacity: 1;
    transition: all 0.3s;
}
.link-flex a{
    font-size: 1rem;
    color: var(--white);
}
.library{
    background-color: var(--grey);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    flex: 3;
    height: 90vh;
}
.flex-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.link-flex p{
    font-size: 1rem;
    color: var(--white);
}